{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {{!-- <img src="/images/IMG_0264.jpg"/> --}}
</head>

<body>
  {{!-- <nav>
    <a href="/">HOME</a>
  </nav> --}}
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="Dive-Bar">
      {{{body}}}
    </div>
  </main>
</body>
</html>

{{!-- CSS CODE 
 body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(170, 198, 211);
    background-image: url('BG2.png');
    margin: 0;
}

.boxed {
    float: left;
    clear: left;
    width: 200px;
    margin: 0 0 10px 0;
    padding: 0;
}

.boxed .heading {
    margin-top: 0;
    padding: 8px 15px;
    background: #004D40 no-repeat center bottom; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.boxed .content {
    margin: 0;
    padding: 5px 14px 10px 14px;
}

#search-input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 10px;
}

.boxed label {
    display: block;
}

#dropdown1,
#dropdown2,
#dropdown3 {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 10px;
}

.topnav {
    background-color: white; 
    overflow: hidden;
    position: fixed; 
    top: 0;
    right: 0; 
    width: 200px; 
}

.topnav a {
    display: block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
    border: 1px solid black; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.title {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

.search-results {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}


#footer {
    border-top: 1px dotted #004D40;
    font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
    color: black;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
} 
 --}}
=======
</html> --}}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>THE DIVE BAR</title>
</head>
<body>

<header>
    <div id="wrapper">
        <div id="header">
            <h1>DIVE BAR</h1>
            <h2>A collaborative space for divers alike.</h2>
        </div>
    </div>
</header>
<h2 class="title">Welcome to the DIVE COMMUNITY!</h2>
<div class="story">
</div>



<div class="topnav" id="Topnav">
    <a href="./homepage" class="active">Home</a>
    <a href="./profile">Profile</a>
    <a href="./search">Divers</a>
    <a href="./edit">Edit Profile</a>
</div>


<div id="footer">
    <p>&copy; 2023 DIVE BAR. All rights reserved.</p>
</div>

</body>
</html> 
