<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {{!-- <img src="/images/IMG_0264.jpg"/> --}}
</head>

<body>
  <header>
    <h1>Welcome to Dive Bar </h1>
  </header>
  <nav>
    <a href="/">HOME</a>
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="Dive-Bar">
      {{{body}}}
    </div>
  </main>
</body>

</html>

{{!-- thank you team --}}