<h1>Test if working!</h1>
<h2>{{username}}</h2>

<div class ="row justify-space-between-md">
    <form class="form">
        <input class="form-input" type="text" id="certification-form">
        <input class="form-input" type="text" id="gas-mixes-form">
        <input class="form-input" type="text" id="ow-dive-form">
        <input class="form-input" type="text" id="deep-dive-form">
        <input class="form-input" type="text" id="cave-dive-form">
        <input class="form-input" type="text" id="night-dive-form">
        <input class="form-input" type="text" id="shark-dive-form">
        <input class="form-input" type="text" id="wreck-dive-form">
        <input class="form-input" type="text" id="drift-dive-form">
        <input class="form-input" type="text" id="altitude-dive-form">
        <input class="form-input" type="text" id="tech-dive-form">
        <input class="form-input" type="text" id="photography-form">
        <input class="form-input" type="text" id="efr-form">
        <input class="form-input" type="text" id="O2-form">
        <input class="form-input" type="text" id="dm-form">
        <input class="form-input" type="text" id="instructor-form">
        <button class="btn btn-primary edit-form" type="submit">TEST</button>
    </form>
</div>




<p id="paragraph" data-userId="{{id}}"></p>