<h1>Enter your certifications, dive experience, and proficiencies!</h1>
<h2>{{username}}</h2>
<div class="row justify-space-between-md">
    <form class="form edit-form">
        <label for="ow_input">Dive Total:</label>
        <input class="form-input" type="text" value="{{ow_dive_totals}}" id="ow-dive-form">

        <label for="certifications">Select your certifications: </label>
        <select multiple id="certification-form">
            {{!-- <option value="none" selected disabled hidden>Select an Option</option> --}}
            <option value="Open Water">Open Water</option>
            <option value="Advanced Open Water">Advanced Open Water</option>
            <option value="Dive Master">Dive Master</option>
            <option value="Instructor">Instructor</option>
            <option value="Master Diver">Master Diver</option>
            <option value="Cave 1">Cave 1</option>
            <option value="Cave 2">Cave 2</option>
            <option value="Wreck Penetration">Wreck Penetration</option>
            <option value="Altitude Diver">Altitude Diver</option>
            <option value="Tech Diver">Tech Diver</option>
        </select>

        <label for="gas-mixes">Select your gas mixes: </label>
        <select multiple id="gas-mixes-form">
            {{!-- <option value="none" selected disabled hidden>Select an Option</option> --}}
            <option value="Air">Air</option>
            <option value="Nitrox">Nitrox</option>
            <option value="Tri-Mix"> Tri-Mix</option>
        </select>

        <label for="photography">Photographer: </label>
        <select id="photography-form">
            <option value="true">True</option>
            <option selected value="false">False</option>
        </select>

        <label for="efr">Active Emergency First Responder: </label>
        <select id="efr-form">
            <option value="true">True</option>
            <option selected value="false">False</option>
        </select>

        <label for="O2">Active O2 provider: </label>
        <select id="O2-form">
            <option value="true">True</option>
            <option selected value="false">False</option>
        </select>

        <label for="dm">Active Dive Master: </label>
        <select id="dm-form">
            <option value="true">True</option>
            <option selected value="false">False</option>
        </select>

        <label for="instructor">Active instructor: </label>
        <select id="instructor-form">
            <option value="true">True</option>
            <option selected value="false">False</option>
        </select>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<p id="paragraph" data-userId="{{id}}"></p>

<script src="/js/edit.js"></script>

	