{{#each users as |user| }}


  <div class="col-md-6"> 
  </div>
</div>

{{/each}}:
  <div class="col-md-6">

    <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>


{{!-- Homepage HTML Code  --}}
{{!--  
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>THE DIVE BAR</title>
</head>
<body>

<header>
    <div id="wrapper">
        <div id="header">
            <h1>DIVE BAR</h1>
            <h2>A collaborative space for divers alike.</h2>
        </div>
    </div>
</header>
<h2 class="title">Welcome to the DIVE COMMUNITY!</h2>
<div class="story">
</div>

<div id="search" class="boxed">
    <h2 class="heading">Search Divers</h2>
    <div class="content">
        <form method="get" action="#">
            <div>
                <input type="text" id="search-input" name="search-input" placeholder="Number of Dives..." />

                    <form method="get" action="#">
                            <div>
                                
                                <label for="check1"><input type="checkbox" id="check1" name="Photography"> Photography </label>
                                <label for="check2"><input type="checkbox" id="check2" name="active"> Active</label>
                                <label for="check3"><input type="checkbox" id="check3" name="EFR"> EFR</label>
                                <label for="check4"><input type="checkbox" id="check4" name="Active O2"> Active O2</label>
                                <label for="check5"><input type="checkbox" id="check5" name="Active DM"> Active DM</label>
                                <label for="check6"><input type="checkbox" id="check6" name="Active Instructor"> Active Instructor</label>
                            </div>

                <label for="dropdown1">GAS MIXES</label>
                <select id="dropdown1" name="dropdown1">
                    <option value="option1">Air</option>
                    <option value="option2">Nirtox</option>
                    <option value="option3"> Tri-Mix</option>
                </select>

                <label for="dropdown3">CERTIFICATIONS:</label>
                <select id="dropdown3" name="dropdown3">
                    <option value="choice1">Open Water</option>
                    <option value="choice2">Advanced Open Water</option>
                    <option value="choice3">Dive Master</option>
                    <option value="choice4">Instructor</option>
                    <option value="choice5">Master Diver</option>
                    <option value="choice6">Cave 1</option>
                    <var><option value="choice7">Cave 2</option>
                    <option value="choice8">Wreck Penetration</option>
                    <option value="choice9">Altitude Diver</option>
                    <option value="choice10">Tech Diver</option>
                </var>
                </select>

                <input type="submit" id="submit1" name="submit1" value="Go" />
            </div>
        </form>
    </div>
</div>

<div class="search-results">
</div>

<!-- Profile Results column -->
<div class="profile-column">
    <div class="profile-view">
        <h2 class="heading">Your Profile</h2>
        <div class="content">
            <img src="profile-image.jpg" alt="Profile Image">
            <h3>FirstName LastName</h3>
            <p>Location: Place of origin </p>
            <p>About Me: I love to XYZ</p>
        </div>
    </div>
</div>



<div class="topnav" id="Topnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">Profile</a>
    <a href="#contact">Divers</a>
    <a href="#about">Settings</a>
</div>


<div id="footer">
    <p>&copy; 2023 DIVE BAR. All rights reserved.</p>
</div>

<script>
    function openProfileSettings() {
        document.getElementById('profileSettings').style.display = 'block';
    }

    function toggleProfileSettings() {
        document.getElementById('profileSettings').style.display = 'none';
    }
</script>
</body>
</html> 
--}}

