{{!-- <header>
    <div id="wrapper">
        <div id="header">
            <h1>DIVE BAR</h1>
            <h2>A collaborative space for divers alike.</h2>
        </div>
    </div>
</header>
<h2 class="title">Welcome to the DIVE COMMUNITY!</h2>
<div class="story">
</div>

<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>




{{!-- CSS For Sign Up Page



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

.container {
    display: flex;
}

.form-container {
    margin: 0 10px;
}

.form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 --}} --}}