{{#if loggedIn}}
<section class="user">
 {{!-- <img src="/images/{{   }}" alt="{{                  }}"> --}}
  <div class="UserName -details">
    <h3>Title Goes Here</h3>
    <p>By:UserName Goes Here</p>
    <p>Date and Dive: Dates goes here </p>
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to Date</a>
{{/if}} 