<div id="search" class="boxed">
    <h2 class="heading">Search Divers</h2>
    <div class="content">
        <form method="get" action="#">
            <div>
                <input type="text" id="search-input" name="search-input" placeholder="Number of Dives..." />

                <form method="get" action="#">
                    <div>

                        <label for="check1"><input type="checkbox" id="check1" name="Photography"> Photography </label>
                        <label for="check2"><input type="checkbox" id="check2" name="Active EFR"> Active Emergencry
                            first responder</label>
                        <label for="check4"><input type="checkbox" id="check3" name="Active O2"> Active O2
                            Adminsitrator</label>
                        <label for="check5"><input type="checkbox" id="check4" name="Active DM"> Active Dive
                            Master</label>
                        <label for="check6"><input type="checkbox" id="check5" name="Active Instructor"> Active
                            Instructor</label>

                    </div>

                    <label for="dropdown1">GAS MIXES</label>
                    <select id="dropdown1" name="dropdown1">
                        <option value="option1">Air</option>
                        <option value="option2">Nirtox</option>
                        <option value="option3"> Tri-Mix</option>
                    </select>

                    <label for="dropdown3">CERTIFICATIONS:</label>
                    <select id="dropdown3" name="dropdown3">
                        <option value="choice1">Open Water</option>
                        <option value="choice2">Advanced Open Water</option>
                        <option value="choice3">Dive Master</option>
                        <option value="choice4">Instructor</option>
                        <option value="choice5">Master Diver</option>
                        <option value="choice6">Cave 1</option>
                        <var>
                            <option value="choice7">Cave 2</option>
                            <option value="choice8">Wreck Penetration</option>
                            <option value="choice9">Altitude Diver</option>
                            <option value="choice10">Tech Diver</option>
                        </var>
                    </select>

                    <input type="submit" id="submit1" name="submit1" value="Go" />
            </div>
    </div>
    </form>
</div>

<div class="search-results">
    
</div>