body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body.background-image {
    background-image: url('public/css/images/ coral_underwater_sea_tropical_islands_coast_hd_ocean.jpg');
}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
}

.topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
    border: 1px solid black;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.topnav a:hover {
    opacity: 1;
}

@media screen and (max-width: 720px) {
    .topnav {
        width: 100%;
        text-align: center;
    }

    .topnav a {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid black;
    }

    body {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .topnav {
        width: 100%;
        text-align: center;
    }

    .topnav a {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid black;
    }

    body {
        margin: 0;
    }
}